{
  "presets": [
    ["next/babel"],
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true,
        "allowNamespaces": true
      }
    ]
  ],
  "plugins": [["babel-plugin-styled-components"]]
}
